{% extends "base.html" %}

{% block page_styles %}{% endblock %}

{% block page_name %}Mini Factory Data Table{% endblock %}

{% block page_buttons %}{% endblock %}

{% block content %}

{{ detect_red }}
<table id="tag-table" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tags</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in new_state.items %}
	<tr>
	  <td>{{key}}</td>
	  {% if key != "Color Sensor" %}
	    {% if key != "Timestamp" and value%}
	      <td class="table-success">{{value}}</td>
	    {% else %}
	      <td>{{value}}</td>
	    {% endif %}
	  {% else %}
	    {% if detected_white %}
	      <td class="table-secondary">{{value}}</td>
	    {% elif detected_red %}
	      <td class="table-danger">{{value}}</td>
	    {% elif detected_blue %}
	      <td class="table-primary">{{value}}</td>
	    {% else %}
	      <td>{{value}}</td>
	    {% endif %}
	  {% endif %}
	</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block page_scripts %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
	setInterval(function() {
	    $("#tag-table").load(" #tag-table")
	}, 100);
    });
</script>

{% endblock %}
